
.container{
    margin: auto;
	margin-top:6%;
    width: 461PX;
    padding: 80px;
	background-color: rgba(181, 210, 211, 0.486);
	border-radius: 50px;
}

.calculator{
    display: grid;
 
}
.output{
	color: #333;
	text-align:right;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons{
	grid-template-columns: 100px;
	display: grid;
	gap: 4px 10px;

	grid-template-columns: 100px;
	grid-auto-flow: column;
	grid-auto-columns: 110px;
	grid-auto-rows: 70px;
}

.button-num{
	padding: 4px;
	text-align: center;
	cursor: pointer;
	border-style:hidden;
	background-color: rgb(185, 207, 197);

	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #333;
	font-size: 2em;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgb(175, 207, 187);
	transition: .2s;
	&:hover {
		box-shadow: 2px 2px 2px rgb(181, 210, 211);
		background-color: rgb(181, 210, 211);
		color: #333;
	}
}
.button-op{
	padding: 4px;
	text-align: center;
	cursor: pointer;
	border-style:hidden;
	background-color: rgb(161, 180, 172);

	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #333;
	font-size: 2em;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgb(175, 207, 187);
	transition: .2s;
	&:hover {
		box-shadow: 2px 2px 2px rgb(181, 210, 211);
		background-color: rgb(181, 210, 211);
		color: #333;
	}
}
.button-func{
	padding: 4px;
	text-align: center;
	cursor: pointer;
	border-style:hidden;
	background-color: rgb(158, 177, 169);

	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #333;
	font-size: 2em;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgb(175, 207, 187);
	transition: .2s;
	&:hover {
		box-shadow: 2px 2px 2px rgb(181, 210, 211);
		background-color: rgb(181, 210, 211);
		color: #333;
	}
}